.loginBox {
    width: 40%;
    height: max-content;
    max-width: 500px;
}

.title {
    color: var(--title-color);
    font-size: 45px;
}

p {
    color: var(--text-color);
    margin: 15px 0;
}

.formConatainer {
    margin-top: 15px;
    display: flex;
    flex-direction: column;
}

.otpContainer {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 15px;

}

.fieldConatiner label {
    font-size: small;
    font-weight: 500;
}

.otpContainer input {
    width: 60px;
    aspect-ratio: 1/1;
    outline: none;
    border-radius: 10px;
    font-size: medium;
    border: 1px solid var(--placeholder-color);
    text-align: center;
    margin: 0 12px;
}

input:focus {
    border: 0.5px solid var(--main-button-hover-bg);
    filter: drop-shadow(0 0 2px #2f4bfd6b);
}

.optionConatiener {
    margin-top: 7px;
}

button {
    width: 100%;
    padding: 12px;
    border: none;
    outline: none;
    font-weight: 500;
    border-radius: 5px;
    color: var(--background-color);
    background-color: var(--main-button-bg);
    transition: all 0.3s ease;
}


.disabled {
    cursor: not-allowed;
    border: 1px solid var(--placeholder-color);
    color: var(--h3-color);
    background-color: var(--secondary-button-bg);
}

.active:hover {
    background-color: var(--main-button-hover-bg);
}


.link {
    text-decoration: none;
    font-size: small;
    color: var(--main-button-bg);
    font-weight: 600;
    cursor: pointer;
}

.link:hover {
    text-decoration: underline;
}

.linkText {
    text-decoration: none;
    font-size: small;
    color: var(--h3-color);
    font-weight: 600;
    margin-top: 7px;
}


@media (max-width:1000px) {
    .loginBox {
        width: 90%;
        padding: 10px;
        height: fit-content;
    }


    .otpContainer input {
        width: 50px;
        aspect-ratio: 1/1;
        outline: none;
        border-radius: 10px;
        font-size: medium;
        border: 1px solid var(--placeholder-color);
        text-align: center;
        margin: 0 8px;
    }
}