.forgotPasswordBox {
    width: 60%;
    height: max-content;
    max-width: 500px;
}

.title {
    color: var(--title-color);
    font-size: 45px;
}

p {
    color: var(--text-color);
    margin: 15px 0;
}

.formContainer {
    margin-top: 15px;
    display: flex;
    flex-direction: column;
}

.fieldContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 4px;
    margin-top: 15px;
}

.fieldContainer label {
    font-size: small;
    font-weight: 500;
}

.fieldContainer input {
    padding: 10px;
    outline: none;
    border-radius: 10px;
    font-size: small;
    border: 1px solid var(--placeholder-color);
}

input:focus {
    border: 0.5px solid var(--main-button-hover-bg);
    filter: drop-shadow(0 0 2px #2f4bfd6b);
}

.optionContainer {
    margin-top: 7px;
}

button {
    width: 100%;
    padding: 12px;
    border: none;
    outline: none;
    font-weight: 500;
    border-radius: 5px;
    color: var(--background-color);
    background-color: var(--main-button-bg);
    transition: all 0.3s ease;
}

.disabled {
    cursor: not-allowed;
    border: 1px solid var(--placeholder-color);
    color: var(--h3-color);
    background-color: var(--secondary-button-bg);
}

.active:hover {
    background-color: var(--main-button-hover-bg);
}

.link {
    text-decoration: none;
    font-size: small;
    color: var(--main-button-bg);
    font-weight: 600;
}

.link:hover {
    text-decoration: underline;
}

.linkText {
    text-decoration: none;
    font-size: small;
    color: var(--h3-color);
    font-weight: 600;
    margin-top: 7px;
}

.errorText {
    font-size: x-small;
    color: red;
    margin-top: 5px;
    margin-bottom: 0;
    padding: 0;
}

@media (max-width: 1000px) {
    .forgotPasswordBox {
        width: 90%;
        padding: 10px;
    }
}
