
.rowdata{
    width: fit-content;
    min-width: 100%;
    padding: 10px;
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #ccc;

}
.titlelable{
    /* min-width: 130px; */
    min-width: 100px;
    /* background-color: red; */
    width: 12%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.lastLine{
    margin-right: 50px;
    white-space: pre-wrap;
}

.iconSmall{
    width: 25px;
    height: 25px;
    cursor: pointer;
}

@media (max-width:760px) {
    .titlelable{
        min-width: 100px;
    }
    .lastLine{
        margin-right: 0;
    }
}